.App {
    background-image: linear-gradient(
        to right,
        rgba(136, 42, 42, 0.788),
        rgba(255, 0, 0, 1),
        rgb(226, 226, 2),
        red
    );
    min-height: 100vh;
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}
.App-logo {
    height: 150px;
}

.App-link {
    color: #61dafb;
}

.container-id {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.form {
}

#input-id {
    font-size: 25px;
    width: 800px;
    height: 50px;
    margin-top: 70px;
    border-radius: 8px;
    border-color: black;
    background-color: whitesmoke;
}

#btn {
    background-color: #007bff;
    position: absolute;
    height: 49px;
    margin-top: 70px;
    margin-left: 1100px;
    width: 100px;
    border: black;
    border-radius: 8px;
}

.list-container {
    font-family: "Bangers", cursive;
}
