.App {
    min-height: 100vh;
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    color: white;
}
.App-logo {
    height: 150px;
}

#task-container {
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #fff;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-around;
    align-items: flex-start;
}

#form-wrapper {
    position: sticky;
    top: 0rem;
    border-bottom: 1px solid #e9e9e9;
    background-color: #fff;
    padding: 40px;
}

.flex-wrapper {
    display: flex;
}